# WEB SCRAPPING SELENIUM ASSIGNMENT-2

In [2]:
pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.25.8)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Note: you may need to restart the kernel to use updated packages.

In [270]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver

In [286]:
driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [287]:
url=" https://www.naukri.com/"
driver.get(url)
##To get the web in chrome driver

In [288]:
#locate designations search bar by X path function
designation_tags=driver.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
designation_tags
location_tags=driver.find_element_by_xpath('//input[@name="location"]')

In [289]:
#To write the designation and location in search bar
designation_tags.send_keys("Data Analyst")
location_tags.send_keys("Bangalore")

In [290]:
#To click the search buttom
button_tags=driver.find_element_by_xpath('//button[@class="btn"]')
button_tags.click()

In [291]:
#To fetch the company name 
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [305]:
#To fetch the job title details:
job_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title=[]
for i in job_tags:
    job_title.append(i.text)
#job_title.insert(0,"nan")

In [306]:
#to fetch the location details:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in location_tags:
    location.append(i.text)

In [307]:
#to fetch the exp details
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp=[]
for i in exp_tags:
    exp.append(i.text)

In [308]:
job_details={"job title":job_title,
             "job Location":location,
             "company Name":company_name,
             "Experiance Required":exp}

In [309]:
job_result=pd.DataFrame(job_details)
job_result[:10]

,job title,job Location,company Name,Experiance Required
0,Immediate job openings For Partner Consultant ...,Bangalore/Bengaluru(Marathahalli),RANDSTAD INDIA PVT LTD,1-5 Yrs
1,Senior Associate - Data Analyst,Bangalore/Bengaluru,Publicis Groupe,1-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ Banking Group,3-8 Yrs
5,Data Analyst (Data Stewards)//Immediate Joiner...,Bangalore/Bengaluru,Tech Mahindra Ltd.,5-10 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Verizon Data Services India Pvt.Ltd,3-6 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru(2nd Phase JP Nagar),"Liventus, Inc.",5-8 Yrs
8,"Data Analyst, Component Engineering",Bangalore/Bengaluru,Rockwell Automation,2-3 Yrs
9,Data Analyst-Immediate Joiners,Bangalore/Bengaluru,Brillio,4-6 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [178]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
##To open the web page in chrome driver
driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
url=" https://www.naukri.com/"
driver.get(url)
#To get automated desired desiganation in search box
search_job=driver.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
search_job.send_keys("Data Scientist")
#To get automated desired location in search box
search_loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys("Bangalore")
#To click on search buton
button_tag=driver.find_element_by_xpath('//button[@class="btn"]')
button_tag.click()
time.sleep(3)
#To scrap the job title from the landing page.
job_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_tag_title=[]
for i in job_tag[0:10]:
    job_tag_title.append(i.text)
time.sleep(2)
#To scrap the job location from the landing page.
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in location_tag[0:10]:
    location.append(i.text)
time.sleep(3)
#To fetch the company name from the page.
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tag[0:10]:
    company_name.append(i.text)
#To wait to run next code till 3 second
time.sleep(3)
#To fetch job title element from web page after desired search criteria executed
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

#Initiating for loop, for click on job title and fetching job description after opened new window.
job_desc=[]   
for i in job_title[0:11]:
    i.click()
    time.sleep(3)
    #p=driver.current_window_handle
    chwd=driver.window_handles
    #switch window to fetch job description after clicking on job title.
    time.sleep(2)
    driver.switch_to.window(chwd[1])
    #Now to fetch jobs tags element for job description by for loop
    job_tags=driver.find_elements_by_xpath('//section[@class="job-desc"]')
    for j in job_tags:
        time.sleep(1)
        job_desc.append(j.text)
        break
    driver.close()
    driver.switch_to.window(chwd[0])

#Creating dectionary for required result
search_data={"Job Title":job_tag_title,
            "Job Location":location,
            "Company Name":company_name,
            "Job Description":job_desc}


#To get data frame for first 10 job result
job_result=pd.DataFrame(search_data)
job_result

,Job Title,Job Location,Company Name,Job Description
0,Senior Data Scientist,Bangalore/Bengaluru,24/7 Customer,Job description\nBrief about the Role\nThe Pla...
1,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, Pune",Wipro Limited,Job description\nRole: Data Scientist\n\nRoles...
2,Senior Data Scientist,Bangalore/Bengaluru,Pluto7,Job description\nResponsibilities:\nBuild and ...
3,Senior Data Scientist,"Chennai, Bangalore/Bengaluru, Vadodara",Nielsen,Job description\nABOUT THIS JOB\nNielsenIQ Adv...
4,Senior/Staff Data scientist,Bangalore/Bengaluru,Vmware,Job description\nAbout You\nYou are a highly m...
5,Senior Data Scientist I,Bangalore/Bengaluru,Philips India Limited,Job description\nJob Responsibilities\nUse pre...
6,IDM - Lead Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description\nYour responsibilities\nEnsure...
7,Senior/Lead Data Scientist,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",AUREUSTECH SYSTEMS PRIVATE LIMITED,Job description\nResponsibilities\nIdentify va...
8,Data Scientist,Bangalore/Bengaluru,Pluto7,Job description\nResponsibilities:\nBuild NLP ...
9,Principal Data Scientist,Bangalore/Bengaluru,24/7 Customer,Job description\nBrief about the Role\nThe Pla...

**Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:**

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually

In [5]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url="https://www.naukri.com/"
driver.get(url)
#To get automated desired desiganation in search box
search_job=driver.find_element_by_xpath('//input[@id="qsb-keyword-sugg"]')
search_job.send_keys("Data Scientist")
#To click on search buton
button_tag=driver.find_element_by_xpath('//button[@class="btn"]')
button_tag.click()
time.sleep(3)
#To filter location and salary
location_filter=driver.find_element_by_xpath('//span[text()="Pune"]')
location_filter.click()
time.sleep(3)
salary_filter=driver.find_element_by_xpath('//span[text()="3-6 Lakhs"]')
salary_filter.click()
time.sleep(3)
#To fetch job title description from the webpage
job_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title=[]
for i in job_tag[0:10]:
    job_title.append(i.text)

#To fetch job location from the webpage
job_loc_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_loc=[]
for i in job_loc_tag[0:10]:
    job_loc.append(i.text)

#To fetch company name from the webpage
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tag[0:10]:
    company_name.append(i.text)
    
#To fetch experiance details from the webpage
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp=[]
for i in exp_tag[0:10]:
    exp.append(i.text)

result={"Job Title": job_title,
       "job Location":job_loc,
       "Company Name":company_name,
       "Experience Required":exp}
job_result=pd.DataFrame(result)
job_result

,Job Title,job Location,Company Name,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Associate Data Scientist,Pune(Baner),AlgoAnalytics Private Ltd.,0-1 Yrs
2,Data Scientist,Pune(Hadapsar),Springer Nature Technology and Publishing SOLU...,3-6 Yrs
3,Analyst Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",CAMSDATA TECHNOLOGIES INDIA PVT LTD,3-8 Yrs
4,Data Scientist / Machine Learning Engineer,Pune,PubMatic India Pvt. Ltd.,2-7 Yrs
5,Data Science- Associate Data Scientist,Pune,Jet2 Travel Technologies Pvt. Ltd.,0-2 Yrs
6,Urgent Requirement For Data Scientist,Pune,Credence HR Services,2-6 Yrs
7,Data Scientist,"Pune, Mumbai (All Areas)",Intellimation Market Services Limited,0-4 Yrs
8,Data Scientist and Analyst,Pune,Diverse Lynx,2-6 Yrs
9,Data Engineers /Data Scientist - CES IT LTD - ...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",CES Ltd.,3-5 Yrs

**Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.**
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [111]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")

#To get the webpage
url=" https://www.glassdoor.co.in/index.htm"
driver.get(url)
time.sleep(5)
#To click in sign in option
button_tag=driver.find_element_by_xpath('//html/body/div[2]/div/div/div/div/div[1]/article/header/nav/div[2]/div/div/div/button')
button_tag.click()
time.sleep(5)
#To provide user name and password for login
email_input=driver.find_element_by_id("userEmail")
email_input.send_keys("sudhansu@getgrowapp.com")
password_input=driver.find_element_by_id("userPassword")
password_input.send_keys("test@123")
#To click on Signin button
signin_button=driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
signin_button.click()
time.sleep(2)
#To search for job title and location with desired search word.
search_job=driver.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")
time.sleep(1)
search_loc=driver.find_element_by_id("sc.location")
#To delete the default value in location search bar
search_loc.send_keys(Keys.CONTROL + "a")
search_loc.send_keys(Keys.DELETE)
search_loc.send_keys("Noida")
#To click on search button
search_button=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')
search_button.click()
time.sleep(2)

#To scrap company name data from web page
com_name=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')
company_name=[]
for i in com_name[0:10]:
    company_name.append(i.text)
#To scrap no. of days job posted
job_age=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
job_aged=[]
for i in job_age[0:10]:
    job_aged.append(i.text)

#To scrap rating of the company
rating=driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
comp_rating=[]
for i in rating[0:10]:
    comp_rating.append(i.text)

#To sign out from the web site
drop_down=driver.find_element_by_xpath('//div[@class="d-flex"]')
drop_down.click()
time.sleep(3)
sign_out_button=driver.find_element_by_xpath('//*[@id="SiteNav"]/nav[1]/div/div/div/div[1]/div[2]/div/div[2]/div/div/div/div/div[1]/ul[4]/li[2]/a/div')
sign_out_button.click()
time.sleep(2)
driver.close()



#To put in data frame
final_data={"Company Name":company_name,
            "Job Aged":job_aged,
          "Company Rating": comp_rating}
search_result=pd.DataFrame(final_data)
search_result

                                      Company Name Job Aged Company Rating
0                                             Uber       4d            4.3
1                                             Uber       4d            4.3
2                                     Cervello Inc       3d            3.9
3                                       MakeMyTrip      11d            4.3
4  Siemens Technology and Services Private Limited       4d            4.1
5                                Proziod Analytics       2d            4.3
6                                             Uber      19d            4.3
7                             Fidelity Investments      13d            4.2
8                                           PayPal       9d            4.3
9                                           Wabtec      24h            3.5

**Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.**

The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page 
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
    name, Average salary and rating of the company.
    6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually

## It will show report only when rating column doesn't show in web page and so have not shown any rating data in below code becuase sometime rating columns shows and sometime it doesn't .

In [32]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url=" https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)
time.sleep(5)
#To search for job title with desired search word.
search_job=driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")
time.sleep(3)
#To search for location with desired search word.
search_loc=driver.find_element_by_id("LocationSearch")
#To delete the default value in location search bar
search_loc.send_keys(Keys.CONTROL + "a")
search_loc.send_keys(Keys.DELETE)
time.sleep(2)
search_loc.send_keys("Noida")
#To click on search button
search_button=driver.find_element_by_id("HeroSearchButton")
search_button.click()
time.sleep(8)

#To click on signin option on popup page
new_window=driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div[1]/div/div/div/div/div[2]/div/a')
new_window.click()
time.sleep(2)
#To provide user name and password for login
email_input=driver.find_element_by_id("userEmail")
email_input.send_keys("sudhansu@getgrowapp.com")
password_input=driver.find_element_by_id("userPassword")
password_input.send_keys("test@123")
#To click on Signin button
signin_button=driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
signin_button.click()
time.sleep(5)

#To scrap company name
comp_name=driver.find_elements_by_xpath('//p[@class="m-0 "]')
time.sleep(5)
company_name=[]
for i in comp_name[0:10]:
    company_name.append(i.text)
time.sleep(5)

#To scrap min and max salary
salary=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]')
time.sleep(5)

salary_list=[]
for i in salary[0:10]:
    salary_list.append(i.text)
#Removing "\n" from list of string.
new_salary_list = [(s.replace("\n", ",")).split(",") for s in salary_list]
time.sleep(3)
#Seperating min and max salary from list
salary_min=[]
salary_max=[]
j=0
k=1
for i in new_salary_list:
    salary_min.append(i[0])
    salary_max.append(i[1])
    
time.sleep(3)
#To scrap the Average Salary from the web page
avg_salary=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')
time.sleep(3)
average_sal=[]
for i in avg_salary[0:10]:
    average_sal.append(i.text)
average_salary=[(a.replace("\n","")) for a in average_sal]

time.sleep(5)


result={'Company Name':company_name,
        "Minimum Salary":salary_min,
        "Maximum Salary":salary_max,
        "Average Salary":average_salary,
        }

data_result=pd.DataFrame(result)
   

#To sign out from the web site
drop_down=driver.find_element_by_xpath('//div[@class="d-flex"]')
drop_down.click()
time.sleep(3)
sign_out_button=driver.find_element_by_xpath('//*[@id="SiteNav"]/nav[1]/div/div/div/div[1]/div[2]/div/div[2]/div/div/div/div/div[1]/ul[4]/li[2]/a/div')
sign_out_button.click()
time.sleep(2)
driver.close()
#To show data table
data_result

                Company Name Minimum Salary Maximum Salary Average Salary
0                        IBM            ₹6L           ₹27L   ₹9,00,000/yr
1  Tata Consultancy Services            ₹3L           ₹13L   ₹6,15,289/yr
2                  Accenture            ₹6L           ₹22L  ₹11,63,336/yr
3                  Delhivery            ₹5L           ₹1Cr  ₹12,18,244/yr
4         Ericsson-Worldwide            ₹4L           ₹16L   ₹7,39,238/yr
5         UnitedHealth Group           ₹11L           ₹15L  ₹13,38,279/yr
6         Valiance Solutions            ₹5L           ₹15L   ₹8,63,750/yr
7     Optum Global Solutions            ₹4L           ₹22L  ₹13,28,697/yr
8              ZS Associates            ₹2L           ₹18L  ₹11,42,356/yr
9                EXL Service            ₹6L           ₹15L  ₹11,46,073/yr

## If rating is showing in our web page then this report will shows sucessfully.

In [33]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url=" https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)
time.sleep(5)
#To search for job title with desired search word.
search_job=driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")
time.sleep(3)
#To search for location with desired search word.
search_loc=driver.find_element_by_id("LocationSearch")
#To delete the default value in location search bar
search_loc.send_keys(Keys.CONTROL + "a")
search_loc.send_keys(Keys.DELETE)
time.sleep(2)
search_loc.send_keys("Noida")
#To click on search button
search_button=driver.find_element_by_id("HeroSearchButton")
search_button.click()
time.sleep(8)

#To click on signin option on popup page
new_window=driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div[1]/div/div/div/div/div[2]/div/a')
new_window.click()
time.sleep(2)
#To provide user name and password for login
email_input=driver.find_element_by_id("userEmail")
email_input.send_keys("sudhansu@getgrowapp.com")
password_input=driver.find_element_by_id("userPassword")
password_input.send_keys("test@123")
#To click on Signin button
signin_button=driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
signin_button.click()
time.sleep(5)

#To scrap company name
comp_name=driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
time.sleep(5)
company_name=[]
for i in comp_name[0:10]:
    company_name.append(i.text)
time.sleep(5)

#To scrap min and max salary
salary=driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]')
time.sleep(5)

salary_list=[]
for i in salary[0:10]:
    salary_list.append(i.text)
#Removing "\n" from list of string.
new_salary_list = [(s.replace("\n", ",")).split(",") for s in salary_list]
time.sleep(3)
#Seperating min and max salary from list
salary_min=[]
salary_max=[]
j=0
k=1
for i in new_salary_list:
    salary_min.append(i[0])
    salary_max.append(i[1])
    
time.sleep(3)
#To scrap the Average Salary from the web page
avg_salary=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')
time.sleep(3)
average_sal=[]
for i in avg_salary[0:10]:
    average_sal.append(i.text)
average_salary=[(a.replace("\n","")) for a in average_sal]

time.sleep(5)
#To scrap the rating of the company
company_rat=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
time.sleep(3)
company_rating=[]
for i in company_rat[0:10]:
    company_rating.append(i.text)
time.sleep(3)    

result={'Company Name':company_name,
        "Minimum Salary":salary_min,
        "Maximum Salary":salary_max,
        "Average Salary":average_salary,
        "Company Rating":company_rating}

data_result=pd.DataFrame(result)
     

#To sign out from the web site
drop_down=driver.find_element_by_xpath('//div[@class="d-flex"]')
drop_down.click()
time.sleep(3)
sign_out_button=driver.find_element_by_xpath('//*[@id="SiteNav"]/nav[1]/div/div/div/div[1]/div[2]/div/div[2]/div/div/div/div/div[1]/ul[4]/li[2]/a/div')
sign_out_button.click()
time.sleep(2)
driver.close()

#To show data table
data_result

,Company Name,Minimum Salary,Maximum Salary,Average Salary,Company Rating
0,IBM,₹6L,₹27L,"₹9,00,000 /yr",3.9
1,Tata Consultancy Services,₹3L,₹13L,"₹6,15,289 /yr",3.9
2,Accenture,₹6L,₹22L,"₹11,63,336 /yr",4
3,Delhivery,₹5L,₹1Cr,"₹12,18,244 /yr",3.9
4,Ericsson-Worldwide,₹4L,₹16L,"₹7,39,238 /yr",4
5,UnitedHealth Group,₹11L,₹15L,"₹13,38,279 /yr",3.7
6,Valiance Solutions,₹5L,₹15L,"₹8,63,750 /yr",4.2
7,Optum Global Solutions,₹4L,₹22L,"₹13,28,697 /yr",3.9
8,ZS Associates,₹2L,₹18L,"₹11,42,356 /yr",4
9,EXL Service,₹6L,₹15L,"₹11,46,073 /yr",3.6

**Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:**
1. Brand
2. Product Description
3. Price
4. Discount %**

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually

In [6]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url=" https://www.flipkart.com"
driver.get(url)
time.sleep(3)

#To close the pop-up 
cross_button=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cross_button.click()
#To search with desired text in search box
search_prod=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_prod.send_keys("sunglasses")
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()
time.sleep(3)

#Total page no in flipkart.
total_page=driver.find_element_by_xpath('//div[@class="_2MImiq"]')
max_page=int((((total_page.text).split(","))[1])[0:3])
max_page 

#To scrap brand name,product description,price and discount for required pages from websites
brand_name=[]
product_desc=[]
price=[]
discount=[]
max_page=3 # given less page number for computional benefit.

for i in range(1,max_page+1):
    url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(i)
    driver.get(url)
    time.sleep(3)
    
    brand_content=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    time.sleep(2)
    for ele in brand_content:
        brand_name.append(ele.text)
     
    product_content=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    time.sleep(3)
    for ele in product_content:
        product_desc.append(ele.text)
    
    
    price_content=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    time.sleep(2)
    for ele in price_content:
        price.append(ele.text)
    
    
    discount_content=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    time.sleep(2)
    for ele in discount_content:
        discount.append(ele.text)

        
Data={"Brand Name":brand_name,
     "Product Description":product_desc,
     "Product Price":price,
     "Product Discount":discount}
    
Report=pd.DataFrame(dict([(j,pd.Series(i))for j,i in Data.items()]))
Report[:100]

,Brand Name,Product Description,Product Price,Product Discount
0,EYELLUSION,"Night Vision, Polarized, UV Protection, Riding...",₹351,₹1948 off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...","₹1,273",₹726 off
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,₹2300 off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,₹286 off
4,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹587,₹312 off
...,...,...,...,...
95,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹210,₹3209 off
96,FOSSIL,Others Rectangular Sunglasses (52),"₹1,191",₹145 off
97,Fastrack,UV Protection Aviator Sunglasses (Free Size),"₹1,854",₹442 off
98,Fastrack,UV Protection Wayfarer Sunglasses (56),₹457,₹810 off
99,NuVew,"UV Protection, Gradient, Night Vision, Mirrore...",₹365,₹1220 off

**Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.**

When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [29]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
driver.get(url)
time.sleep(3)

#To click on all review to get access of review
all_review_button=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
all_review_button.click()


#To scrap rating,review summary and full review

max_page=10 # given less page number for computional benefit.

rating_details=[]
review_details=[]
full_review=[]
for i in range(1,max_page+1):
    url1="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(i)
    driver.get(url1)
    time.sleep(3)
    
    rating_cont=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    time.sleep(2)
    for i in rating_cont:
        rating_details.append(i.text)
        
    review_cont=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    time.sleep(1)
    for i in review_cont:
        review_details.append(i.text)
        
    full_review_cont=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    time.sleep(1)
    for i in full_review_cont:
        full_review.append(i.text)
        
data={"Rating":rating_details,
     "Review":review_details,
     "Full Review":full_review}

Result=pd.DataFrame(dict([(i,pd.Series(v)) for i,v in data.items()]))
Result

,Rating,Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Fabulous!,This is my first iOS phone. I am very happy wi...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
...,...,...,...
95,4,Excellent,Value for money product. This iphone 11 is rea...
96,4,Best in the market!,The best all rounder iphone. Flipkart is doing...
97,4,Wonderful,I genuinely liked it. One of the best mobile p...
98,NaN,Nice product,If you are looking for a premium phone under 5...
99,NaN,Good quality product,"Awesome camera, smooth and fast UI, display is..."

**Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.**

You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code
only and not manually.

In [59]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
driver.get(url)
time.sleep(3)

#To search for desired from search bar
search_content=driver.find_element_by_xpath('//input[@type="text"]')
search_content.send_keys("sneakers")
#To click on button
click_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
click_button.click()

#To fetch brand,product Description,price and discount from the web page
brand_name=[]
product_name=[]
price=[]
discount=[]

page=2
for i in range(1,page+1):
    url1="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(i)
    driver.get(url1)
    time.sleep(3)
    
    brand_cont=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand_cont:
        brand_name.append(i.text)
        
    product_cont=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product_cont:
        product_name.append(i.text)
        
    price_cont=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price_cont:
        price.append(i.text)
        
    discount_cont=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount_cont:
        discount.append(i.text)

data={"Brand Name":brand_name,
     "Product Name":product_name,
     "Product Price":price,
     "Product Discount":discount}
Report=pd.DataFrame(dict([(k,pd.Series(v)) for k,v in data.items()]))
Report

,Brand Name,Product Name,Product Price,Product Discount
0,Numenzo,Sneakers For Men,₹449,77% off
1,India hub,White Sneaker For Men's/Boy's Sneakers For Men,₹410,86% off
2,Shoes Bank,Series 7 Sneakers For Men,₹349,65% off
3,CALCADOS,Casual Sneakers Shoes For Men Sneakers For Men,₹748,62% off
4,Kraasa,casual for men (blue 06) Sneakers For Men,₹416,58% off
...,...,...,...,...
75,Echor,NaN,₹539,46% off
76,French Connection,NaN,₹669,76% off
77,DUCATI,NaN,₹999,72% off
78,NIKE,NaN,"₹2,472",45% off
79,Absolute comfort,NaN,₹348,65% off

**Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image**
And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be
done through code only and there should not be any manual step.

## Fetching Brands data from web page

In [271]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url="https://www.myntra.com/shoes"
driver.get(url)
time.sleep(3)

#To apply price filter and color filter
price_filter=driver.find_element_by_xpath('//html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]')
price_filter.click()
time.sleep(2)
color_filter=driver.find_element_by_xpath('//li[@class="colour-listItem"]')
color_filter.click()

#Update page number
page=2

#To fetch brand details from different pages
a=1
shoe_brand=[]
brand_ele=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
for i in range(1,page+1):
    time.sleep(3)
    brand_ele=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    time.sleep(10)
    for ele in brand_ele[0:50]:
        shoe_brand.append(ele.text)
        a+=1      
    if a==51:
        next_b=driver.find_element_by_xpath('//a[@rel="next"]')
        next_b.click()
driver.close()
shoe_brand

['Nike',
 'Nike',
 'ALDO',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'UNDER ARMOUR',
 'ASICS',
 'PUMA Motorsport',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'J.FONTINI',
 'ADIDAS',
 'UNDER ARMOUR',
 'ASICS',
 'Puma',
 'Cole Haan',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Hush Puppies',
 'Ruosh',
 'Geox',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Bugatti',
 'ASICS',
 'UNDER ARMOUR',
 'Puma',
 'Bugatti',
 'Nike',
 'J.FONTINI',
 'Hush Puppies',
 'J.FONTINI',
 'Hush Puppies',
 'Kalenji By Decathlon',
 'Hush Puppies',
 'Hush Puppies',
 'Hush Puppies',
 'DAVINCHI',
 'RARE RABBIT',
 'Bugatti',
 'Bugatti',
 'Cole Haan',
 'ALDO',
 'UNDER ARMOUR',
 'FILA',
 'Ruosh',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'RARE RABBIT',
 'Cole Haan',
 'Saint G',
 'UNDER ARMOUR',
 'ADIDAS',
 'Geox',
 'Bugatti',
 'Geox',
 'Reebok',
 'Quechua By Decathlon',
 'Geox',
 'UNDER ARMOUR',
 'Cole Haan',
 'Cole Haan',
 'Geox',
 'Puma',
 'FILA',
 'UNDER ARMOUR',
 'VIONIC',
 'J.FONTINI',
 'Puma',
 'Geox',
 'Heel & Buckle London',
 'Saint G',
 'Saint G',
 'Reebok',
 'Cole Haan',
 'Geox',
 'Heel & Buckle London',
 'Cole Haan',
 'ADIDAS',
 'Nike',
 'Nike',
 'Heel & Buckle London',
 'Nike',
 'Hush Puppies',
 'Skechers',
 'UNDER ARMOUR',
 'Nike',
 'Heel & Buckle London',
 'FILA',
 'Geox']

## Fetching Shoes Description data

In [272]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url="https://www.myntra.com/shoes"
driver.get(url)
time.sleep(3)

#To apply price filter and color filter
price_filter=driver.find_element_by_xpath('//html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]')
price_filter.click()
time.sleep(2)
color_filter=driver.find_element_by_xpath('//li[@class="colour-listItem"]')
color_filter.click()

#Update page number
page=2

#To fetch product description from different pages
a=1
shoe_desc=[]
desc_ele=driver.find_elements_by_xpath('//h4[@class="product-product"]')
for i in range(1,page+1):
    time.sleep(3)
    desc_ele=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    time.sleep(10)
    for ele in desc_ele[0:50]:
        shoe_desc.append(ele.text)
        a+=1      
    if a==51:
        next_b=driver.find_element_by_xpath('//a[@rel="next"]')
        next_b.click()

driver.close()
shoe_desc

['Men Zoom Winflo 8 Running',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men JORDAN WHY NOT Basketball',
 'Men Sneakers',
 'Men REACT MILER Running Shoes',
 'Men JOYRIDE Running Shoes',
 'Men AIR ZOOM Running Shoes',
 'Men KD13 EP Basketball Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Unisex LEBRON XVIII Basketball',
 'Women Running Shoes',
 'Unisex Mercedes Running Shoes',
 'Men Velocity Nitro Running',
 'Women Charged Breathe TR 2',
 'Women Liquify Rebel Running',
 'Men Liquify Running Shoes',
 'Men SOLAR DRIVE 19 M Running',
 'Unisex SC 3ZER0 IV Basketball',
 'Women Running Shoes',
 'Leather Sneakers',
 'TREKKING 100 Boots',
 'Women Deviate Nitro Running',
 'Men Textured Leather Loafers',
 'Women HOVR Rise 2 Training',
 'Men Leather Slip-On Sneakers',
 'Men Leather Slip-On Shoes',
 'Men Solid Leather Formal Oxfords',
 'Men Leather Driving Shoes',
 'Charged Rogue 2 Wide 2E Shoes',
 'Men HOVR Infinite Running',
 'Men Solid Leather Formal Slip-Ons',
 'Women TriBase Reign 2 Training',
 'Men Solid Leather Formal Derbys',
 'Charged Impulse Running Shoes',
 'Women Velocity Nitro Running',
 'Men Slip-On Sneakers',
 'Men Running Shoes',
 'Men JORDAN DELTA Sneakers',
 'Men Solid Loafers',
 'Men Leather Slip-On Sneakers',
 'Men Textured Leather Loafers',
 'Men Textured Oxfords',
 'Men Solid Leather Formal Derbys',
 'Men Formal Derbys',
 'Men KD500 Running Shoe',
 'Men Solid Leather Formal Slip-Ons',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Formal Loafers',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Women Sandals',
 'Women Charged Breathe OIL SLK',
 'Men Formal Leather Brogues',
 'HOVR Sonic 3 Running Shoes',
 'Women Solid Leather Gladiators',
 'Men Leather Loafers',
 'Women Leather Sneakers',
 'Women Solid Leather Pumps',
 'Men Leather Sneakers',
 'Women SUPERNOVA Running Shoes',
 'Charged RC Sportstyle Sneakers',
 'Men Perforations Leather Brogues',
 'Women Leather Ballerinas',
 'Women Mid-Top Sneakers',
 'Women Solid Leather Loafers',
 'Forever Floatride Energy 2',
 'Men Trekking Shoes',
 'Men Leather Driving Shoes',
 'Charged Pursuit 2 Running',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers',
 'Men Football Shoes',
 'Men Leather Sneakers',
 'Women Charged Rogue 2 Running',
 'Men Textured Sneakers',
 'Men Textured Leather Loafers',
 'Men IGNITE Dual Running Shoes',
 'Men Leather Formal Monks',
 'Women Solid Leather Heels',
 'Women Leather Heeled Boots',
 'Women Heeled Boots',
 'Women Nanoflex Training Shoes',
 'Women Leather Heels',
 'Women Solid Leather Pumps',
 'Women Peep Toe Heels',
 'Women Open Toe Flats',
 'Men Ultra Boost 21 Running',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men JORDAN ONE TAKE II Shoes',
 'Men Leather Formal Oxfords',
 'Men ZOOM WINFLO8 Running Shoes',
 'SKECH-AIR ELEMENT Sneakers',
 'Charged Pursuit 2 Running',
 'Men REACT MILER 2 Running',
 'Women Leather Pumps',
 'Women Sneakers',
 'Women Woven Design Slip-On Sneakers',
 'Men Formal Leather Derbys']

## Fetching Shoes price data

In [293]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url="https://www.myntra.com/shoes"
driver.get(url)
time.sleep(3)

#To apply price filter and color filter
price_filter=driver.find_element_by_xpath('//html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]')
price_filter.click()
time.sleep(5)
color_filter=driver.find_element_by_xpath('//li[@class="colour-listItem"]')
color_filter.click()
time.sleep(5)

#Update page number
page=2

#To fetch product price from different pages
a=1
price_desc=[]
price_ele=driver.find_elements_by_xpath('//div[@class="product-price"]')

for i in range(1,page+1):
    time.sleep(5)
    price_ele=driver.find_elements_by_xpath('//div[@class="product-price"]')
    
    for ele in price_ele[0:50]:
        price_desc.append(ele.text)
        a+=1
    time.sleep(10)
    if a==51:
        next_b=driver.find_element_by_xpath('//a[@rel="next"]')
        next_b.click()
        
driver.close()
price_desc

['Rs. 8295',
 'Rs. 9995',
 'Rs. 11495',
 'Rs. 9999',
 'Rs. 7696Rs. 10995(30% OFF)',
 'Rs. 7497Rs. 14995(50% OFF)',
 'Rs. 7721Rs. 10295(25% OFF)',
 'Rs. 12995',
 'Rs. 11495',
 'Rs. 10999',
 'Rs. 10557Rs. 17595( 40 % OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7999',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 7799Rs. 11999(35% OFF)',
 'Rs. 8999',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 6990',
 'Rs. 9999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 6999',
 'Rs. 8094Rs. 13490(40% OFF)',
 'Rs. 9990',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 11999',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 7999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 10995',
 'Rs. 7990',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7857Rs. 8449(7% OFF)',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 8119Rs. 11599(30% OFF)',
 'Rs. 7999',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7490',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 6622Rs. 8600(23% OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 8999',
 'Rs. 9490',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 9490',
 'Rs. 8499Rs. 16999(50% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 6999',
 'Rs. 7690',
 'Rs. 6999',
 'Rs. 7999Rs. 15999(50% OFF)',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 6675Rs. 8900(25% OFF)',
 'Rs. 7440Rs. 8000(7% OFF)',
 'Rs. 7599',
 'Rs. 6749Rs. 14999(55% OFF)',
 'Rs. 10990',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 12599Rs. 17999(30% OFF)',
 'Rs. 9995',
 'Rs. 8295',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 8295',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 11495',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 8999',
 'Rs. 11990']

In [294]:
#Preparing into data frame
data={"Shoe's Brand Name":shoe_brand,
     "Shoe's Description":shoe_desc,
     "Shoe's Price":price_desc}
shoe_data=pd.DataFrame(dict([(i,pd.Series(v))for i,v in data.items()]))

print("*******************Products Details in Table*************************")
shoe_data[0:100]

*******************Products Details in Table*************************

,Shoe's Brand Name,Shoe's Description,Shoe's Price
0,Nike,Men Zoom Winflo 8 Running,Rs. 8295
1,Nike,Men AIR ZOOM PEGASUS 38 Run,Rs. 9995
2,ALDO,Men JORDAN WHY NOT Basketball,Rs. 11495
3,Nike,Men Sneakers,Rs. 9999
4,Nike,Men REACT MILER Running Shoes,Rs. 7696Rs. 10995(30% OFF)
...,...,...,...
95,UNDER ARMOUR,Men REACT MILER 2 Running,Rs. 6999
96,Nike,Women Leather Pumps,Rs. 11495
97,Heel & Buckle London,Women Sneakers,Rs. 7192Rs. 8990(20% OFF)
98,FILA,Women Woven Design Slip-On Sneakers,Rs. 8999
99,Geox,Men Formal Leather Derbys,Rs. 11990

**Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:**
    
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [324]:
#import all required libraires
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

driver=webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver.exe")
#To get the webpage
url=" https://www.amazon.in/"
driver.get(url)
time.sleep(3)

#To search desired words in search box
search_element=driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search_element.send_keys("laptops")

search_button=driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_button.click()
time.sleep(3)

#To select filter option.
search_filter1=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label')
search_filter1.click()
search_filter2=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label')
search_filter2.click()
time.sleep(2)
#To fetch the product detaiils for each product.

laptop_rating=[]
product_name=[]
price=[]
product_ele=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
time.sleep(3)
t=1
for i in product_ele:
    time.sleep(3)
    i.click()   
    time.sleep(2)
    p=driver.current_window_handle
    chwd=driver.window_handles
    time.sleep(1)
    driver.switch_to.window(chwd[1])
    try:
        review_rat=driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]')
        time.sleep(2)    
        laptop_rating.append(review_rat.text)
        time.sleep(2)
        product_title=driver.find_element_by_xpath('//span[@id="productTitle"]')
        product_name.append(product_title.text)
        time.sleep(2)
        price_element=driver.find_element_by_xpath('//tr[@id="priceblock_ourprice_row"]')
        price.append(price_element.text)
    except:
        pass
    driver.close()
    driver.switch_to.window(p)
    
#have used try and except function becuase some products ratings are missing.

data={"Product Title":product_name,
     "Product Rating":laptop_rating,
      "Product Price":price}
report=pd.DataFrame(dict([(k,pd.Series(v)) for k,v in data.items()]))
report[0:10]

,Product Title,Product Rating,Product Price
0,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",3.9 out of 5,"Price: ₹ 78,993.00"
1,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5,"Price: ₹ 84,990.00"
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5,"Combo Price: ₹ 59,999.00"
3,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.2 out of 5,"Price: ₹ 86,990.00"
4,"Dell Inspiron 5410 14"" FHD Touch Display 2in1 ...",4 out of 5,"Price: ₹ 89,990.00"
5,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.3 out of 5,"Price: ₹ 97,221.00"
6,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.7 out of 5,"Price: ₹ 40,932.00"
7,"MSI GE75 Raider 10SFS 17.3"" FHD Gaming Laptop ...",5 out of 5,"Price: ₹ 1,79,990.00"
8,Dell G3 3579 15.6-inch FHD Gaming Laptop (8th ...,3.9 out of 5,"Price: ₹ 89,898.00"
9,"ASUS ROG Zephyrus S17 (2020), 17.3"" FHD 300Hz/...",5 out of 5,"Price: ₹ 1,37,990.00"