In [2]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains

**1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:**

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [63]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url=" https://en.wikipedia.org/w/index.php?search=List+of+most-viewed+YouTube+videos%2F&title=Special%3ASearch&fulltext=1&ns0=1"
driver.get(url)

link_ele=driver.find_element_by_xpath('//a[@href="/wiki/List_of_most-viewed_YouTube_videos"]')
link_ele.click()

time.sleep(3)

before_Xpath = "//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr["
aftertd_Xpath = "]/td["
aftertr_Xpath = "]"


rows = len(driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr"))


columns = len(driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[1]/td"))

time.sleep(2)
Rank=[]
Name=[]
Artist=[]
date=[]
view=[]
for t_row in range(1, (rows + 1)):
    for t_column in range(1, (columns)):
        FinalXPath = before_Xpath + str(t_row) + aftertd_Xpath + str(t_column) + aftertr_Xpath
        cell_text = driver.find_element_by_xpath(FinalXPath).text
        if t_column==1:
            Rank.append(cell_text)
        if t_column==2:
            Name.append(cell_text)
        if t_column==3:
            Artist.append(cell_text)
        if t_column==4:
            view.append(cell_text+str(" Billions"))
        if t_column==5:
            date.append(cell_text)
            
        
print("Rank:",len(Rank),"Name:",len(Name),"Artist:",len(Artist),"Date:",len(date),"view:",len(view))

data={"Rank":Rank,
     "Name":Name,
     "Artist":Artist,
     "Upload Date":date,
     "View":view}

report=pd.DataFrame(data)
report

Rank: 30 Name: 30 Artist: 30 Date: 30 view: 30

,Rank,Name,Artist,Upload Date,View
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.06 Billions
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.47 Billions
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.60 Billions
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40 Billions
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.20 Billions
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.45 Billions
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.39 Billions
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.35 Billions
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.25 Billions
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.14 Billions
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.04 Billions
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.52 Billions
12,13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.49 Billions
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45 Billions
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.40 Billions
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.35 Billions
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.30 Billions
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.20 Billions
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.11 Billions
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.11 Billions
20,21.,"""Girls Like You""[46]",Maroon 5,"May 31, 2018",3.08 Billions
21,22.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.08 Billions
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07 Billions
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.07 Billions
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.04 Billions
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95 Billions
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.91 Billions
27,28.,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.91 Billions
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.90 Billions
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.86 Billions

**2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1st ODI)


B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [85]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url="https://www.bcci.tv/"
driver.get(url)

drop_ele=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
drop_ele.click()

fix_ele=driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]')
fix_ele.click()

title_ele=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
match_title=[]
for i in title_ele:
    try:
        match_title.append(i.text)
    except:
        match_title.append("-")

series_ele=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
series=[]
for i in series_ele:
    try:
        series.append(i.text)
    except:
        series.append("-")
place_ele=driver.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]')
place=[]
for i in place_ele:
    try:
        str2=i.text
        str2=str2.split("\n")
        place.append(str2[1])
    except:
        place.append("-")

date_ele=driver.find_elements_by_xpath('//div[@class="fixture__full-date"]')
date=[]
time=[]
for i in date_ele:
    try:
        t=i.text
        str1=t.replace("\n","/")
        date.append(str1[:-10])        
    except:
        date.append("-")
    try:
        time.append(str1[-9:])
    except:
        time.append("-")

data={"Match Title":match_title,
     "Series": series,
     "Place": place,
     "Date":date,
     "Time":time}
report=pd.DataFrame(data)
report

,Match Title,Series,Place,Date,Time
0,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04/AUGUST,15:30 IST
1,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12/AUGUST,15:30 IST
2,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25/AUGUST,15:30 IST
3,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02/SEPTEMBER,15:30 IST
4,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10/SEPTEMBER,15:30 IST

**3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:.**

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [18]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url="https://www.guru99.com/"
driver.get(url)


wait = WebDriverWait(driver, 20);
tab_ele = wait.until(EC.element_to_be_clickable((By.XPATH,'//a[@title="Selenium"]')))
tab_ele.click()


wait = WebDriverWait(driver, 20);
exception_ele = wait.until(EC.element_to_be_clickable((By.XPATH,'//a[@title="Selenium Exception Handling (Common Exceptions List)"]')));
exception_ele.click()

time.sleep(3)
before_Xpath = "//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr["
aftertd_Xpath = "]/td["
aftertr_Xpath = "]"

rows = len(driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr"))
print(rows)
time.sleep(2)
columns = len(driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td"))
print(columns)

name=[]
des=[]
for t_row in range(2, (rows + 1)):
    for t_column in range(1, 3):
        FinalXPath = before_Xpath + str(t_row) + aftertd_Xpath + str(t_column) + aftertr_Xpath
        cell_text = driver.find_element_by_xpath(FinalXPath).text
        if t_column==1:
            name.append(cell_text)
        if t_column==2:
            des.append(cell_text)
            
data={"Name":name,
     "Description":des}
report=pd.DataFrame(data)
report

42
84

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

**4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:.**

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [71]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url="http://statisticstimes.com/"
driver.get(url)


wait = WebDriverWait(driver, 20);
tab_ele = wait.until(EC.element_to_be_clickable((By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')))
tab_ele.click()


wait = WebDriverWait(driver, 20);
ind_ele = wait.until(EC.element_to_be_clickable((By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')))
ind_ele.click()

time.sleep(1)

actions=ActionChains(driver)
actions.send_keys(Keys.ENTER)
actions.perform()

wait = WebDriverWait(driver, 20);
gdp_ele = wait.until(EC.element_to_be_clickable((By.XPATH,'//html/body/div[2]/div[2]/div[2]/ul/li[1]/a')))
gdp_ele.click()


before_Xpath = "//*[@id='table_id']/tbody/tr["
aftertd_Xpath = "]/td["
aftertr_Xpath = "]"

rows = len(driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr"))
print(rows)
time.sleep(2)
columns = len(driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td"))
print(columns)

rank=[]
state=[]
gsdp1920=[]
gsdp1819=[]
share=[]
gdp=[]
name=[]
des=[]
for t_row in range(2, (rows + 1)):
    for t_column in range(1, 7):
        FinalXPath = before_Xpath + str(t_row) + aftertd_Xpath + str(t_column) + aftertr_Xpath
        cell_text = driver.find_element_by_xpath(FinalXPath).text
        if t_column == 1:
            rank.append(cell_text)
        if t_column == 2:
            state.append(cell_text)
        if t_column == 3:
            gsdp1920.append(cell_text)
        if t_column == 4:
            gsdp1819.append(cell_text)
        if t_column == 5:
            share.append(cell_text)
        if t_column == 6:
            gdp.append(cell_text)
            

data={
    "Rank":rank,
    "State":state,
    "GSDP at current price (19-20)":gsdp1920,
    "GSDP at current price (18-19)":gsdp1819,
    "Share(18-19)":share,
    "GDP($ billion)":gdp
}
        
report=pd.DataFrame(data)
report

33
264

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
1,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
2,4,Gujarat,-,"1,502,899",7.96%,228.290
3,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
4,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
5,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
6,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
7,9,Telangana,"969,604","861,031",4.56%,130.791
8,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
9,11,Kerala,-,"781,653",4.14%,118.733
10,12,Delhi,"856,112","774,870",4.10%,117.703
11,13,Haryana,"831,610","734,163",3.89%,111.519
12,14,Bihar,"611,804","530,363",2.81%,80.562
13,15,Punjab,"574,760","526,376",2.79%,79.957
14,16,Odisha,"521,275","487,805",2.58%,74.098
15,17,Assam,-,"315,881",1.67%,47.982
16,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
17,19,Jharkhand,"328,598","297,204",1.57%,45.145
18,20,Uttarakhand,-,"245,895",1.30%,37.351
19,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
20,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
21,23,Goa,"80,449","73,170",0.39%,11.115
22,24,Tripura,"55,984","49,845",0.26%,7.571
23,25,Chandigarh,-,"42,114",0.22%,6.397
24,26,Puducherry,"38,253","34,433",0.18%,5.230
25,27,Meghalaya,"36,572","33,481",0.18%,5.086
26,28,Sikkim,"32,496","28,723",0.15%,4.363
27,29,Manipur,"31,790","27,870",0.15%,4.233
28,30,Nagaland,-,"27,283",0.14%,4.144
29,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
30,32,Mizoram,"26,503","22,287",0.12%,3.385
31,33,Andaman & Nicobar Islands,-,-,-,-

**5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:**

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [30]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url=" https://github.com/"
driver.get(url)


wait = WebDriverWait(driver, 20);
explore_ele = wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details')))
explore_ele.click()

wait = WebDriverWait(driver, 20);
trend_ele=wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]')))
trend_ele.click()


before_Xpath = "//*[@id='js-pjax-container']/div[3]/div/div[2]/article["
after_Xpath = "]"

rows = len(driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article'))
time.sleep(2)

resp_title=[]
resp_des=[]
cont=[]
lang=[]

for article in range(1,(rows + 1)):
    try:
        finalXpath=before_Xpath+str(article)+after_Xpath+str("/h1")
        res_text=driver.find_element_by_xpath(finalXpath).text
        resp_title.append(res_text)
    except:
        resp_title.append("-")
    try:
        finalXPath=before_Xpath+str(article)+after_Xpath+str("/p")
        des_text=driver.find_element_by_xpath(finalXPath).text
        resp_des.append(des_text)
    except:
        resp_des.append("-")
    try:   
        finalXPath=before_Xpath+str(article)+after_Xpath+str("/div[2]/a[2]")
        cont_text=driver.find_element_by_xpath(finalXPath).text
        cont.append(cont_text)
    except:
        cont.append("-")
    try:
        finalXPath=before_Xpath+str(article)+after_Xpath+str("/div[2]/span[1]")
        lan_text=driver.find_element_by_xpath(finalXPath).text
        lang.append(lan_text)
    except:
        lang.append("-")

print("Length of Repository title:",len(resp_title))
print("Length of Repository description:",len(resp_des))
print("Length of Contributors count",len(cont))
print("Length of Language used",len(lang))

data={
    "Repository title":resp_title,
    "Repository description":resp_des,
    "Contributors count":cont,
    "Language used":lang
}
report=pd.DataFrame(data)
report

Length of Repository title: 25
Length of Repository description: 25
Length of Contributors count 25
Length of Language used 25

,Repository title,Repository description,Contributors count,Language used
0,Azure / azure-sdk-for-net,This repository is for active development of t...,"2,844",C#
1,SheetJS / sheetjs,📗 SheetJS Community Edition -- Spreadsheet Dat...,"6,910",JavaScript
2,0x727 / ShuiZe_0x727,信息收集自动化工具,119,Python
3,OAI / OpenAPI-Specification,The OpenAPI Specification Repository,"7,643",JavaScript
4,microsoft / ML-For-Beginners,"12 weeks, 25 lessons, 50 quizzes, classic Mach...","3,645",Jupyter Notebook
5,apache / apisix,The Cloud-Native API Gateway,"1,149",Lua
6,geekxh / hello-algorithm,🌍 针对小白的算法训练 | 包括四部分：①.算法基础 ②.力扣图解 ③.大厂面经 ④.CS_...,"5,265",Java
7,GhostPack / Rubeus,Trying to tame the three-headed dog.,346,C#
8,datafuselabs / datafuse,A Modern Real-Time Data Processing & Analytics...,127,Rust
9,microsoft / terminal,The new Windows Terminal and the original Wind...,"6,818",C++
10,alyssaxuu / mapus,A map tool with real-time collaboration 🗺️,48,JavaScript
11,MoienTajik / AspNetCore-Developer-Roadmap,Roadmap to becoming an ASP.NET Core developer ...,"1,159",Built by
12,Apress / Ray-Tracing-Gems-II,"Source Code for ""Ray Tracing Gems II: Next Gen...",11,C++
13,chuzhixin / vue-admin-beautiful-pro,"团结一心，共抗疫情，烟台加油！！！🚀🚀🚀vue3,vue3.0,vue,vue3.x,vue...","2,251",Vue
14,microsoft / PowerToys,Windows system utilities to maximize productivity,"3,169",C#
15,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,295,Built by
16,sysprog21 / lkmpg,The Linux Kernel Module Programming Guide (upd...,86,TeX
17,actions / virtual-environments,GitHub Actions virtual environments,"1,368",PowerShell
18,metersphere / metersphere,MeterSphere 是一站式开源持续测试平台，涵盖测试跟踪、接口测试、性能测试、团队协作...,"1,183",Java
19,JetBrains / compose-jb,"Jetpack Compose for Desktop and Web, a modern ...",289,Kotlin
20,Security-Onion-Solutions / securityonion,Security Onion 2 - Linux distro for threat hun...,159,Shell
21,3b1b / manim,Animation engine for explanatory math videos,"4,174",Python
22,dotnet-architecture / eShopOnContainers,Cross-platform .NET sample microservices and c...,"7,742",C#
23,typescript-eslint / typescript-eslint,✨ Monorepo for all the tooling which enables E...,"1,718",TypeScript
24,commaai / openpilot,openpilot is an open source driver assistance ...,"5,330",C++

**6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:**
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [54]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url=" https://www.billboard.com/"
driver.get(url)

wait = WebDriverWait(driver, 20);
chart_button = wait.until(EC.element_to_be_clickable((By.XPATH,'//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a')))
chart_button.click()

wait = WebDriverWait(driver, 20);
close_but = wait.until(EC.element_to_be_clickable((By.XPATH,'//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[2]')))
close_but.click()

before_Xpath = "//*[@id='charts']/div/div[7]/div/ol/li["
after_Xpath = "]"


rows = len(driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li'))
print(rows)
time.sleep(2)
song_name=[]
artist_name=[]
last_w_rank=[]
peak_rank=[]
wob=[]
for article in range(1,(rows + 1)):
    for i in range(1,4):
        if i==1:
            try:
                finalXpath=before_Xpath+str(article)+after_Xpath+str("/button/span[2]/span[")+str(i)+after_Xpath
                song_text=driver.find_element_by_xpath(finalXpath).text
                song_name.append(song_text)
            except:
                song_name.append("-")
        if i==2:
            try:
                finalXpath=before_Xpath+str(article)+after_Xpath+str("/button/span[2]/span[")+str(i)+after_Xpath
                artist_text=driver.find_element_by_xpath(finalXpath).text
                artist_name.append(artist_text)
            except:
                artist_name.append("-")
            
        if i==3:
            for j in range(1,4):
                if j==1:
                    try:
                        finalXpath=before_Xpath+str(article)+after_Xpath+str("/button/div/div[")+str(j)+after_Xpath
                        last_text=driver.find_element_by_xpath(finalXpath).text
                        last_w_rank.append(last_text)
                    except:
                        last_w_rank.append("-")
                if j==2:
                    try:
                        finalXpath=before_Xpath+str(article)+after_Xpath+str("/button/div/div[")+str(j)+after_Xpath
                        peak_text=driver.find_element_by_xpath(finalXpath).text
                        peak_rank.append(peak_text)
                    except:
                        peak_rank.append("-")
                if j==3:
                    try:
                        finalXpath=before_Xpath+str(article)+after_Xpath+str("/button/div/div[")+str(j)+after_Xpath
                        wob_text=driver.find_element_by_xpath(finalXpath).text
                        wob.append(wob_text)
                    except:
                        wob.append("-")
                    
print("length of Song name:",len(song_name))
print("length of Artist name:",len(artist_name))
print("length of Last week rank:",len(last_w_rank))
print("length of Peak rank:",len(peak_rank))
print("length of Weeks on board:",len(wob))

data={
    "Song name":song_name,
    "Artist name":artist_name,
    "Last week rank":last_w_rank,
    "Peak rank":peak_rank,
    "Weeks on board":wob
}

report=pd.DataFrame(data)
report

109
length of Song name: 109
length of Artist name: 109
length of Last week rank: 109
length of Peak rank: 109
length of Weeks on board: 109

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,10
1,Industry Baby,Lil Nas X & Jack Harlow,,-,2
2,Good 4 U,Olivia Rodrigo,2,1,11
3,Stay,The Kid LAROI & Justin Bieber,,4,3
4,Levitating,Dua Lipa Featuring DaBaby,3,2,43
...,...,...,...,...,...
104,Minimum Wage,Blake Shelton,83,67,12
105,Working,Tate McRae X Khalid,,-,88
106,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50,50,2
107,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91,14,5
108,Still Chose You,The Kid LAROI Featuring Mustard,,-,100

**7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:**

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [12]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

wait = WebDriverWait(driver, 20);
recruit_button = wait.until(EC.element_to_be_clickable((By.XPATH,'//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div')))
recruit_button.click()
time.sleep(2)
chwd=driver.window_handles
driver.switch_to.window(chwd[1])

search_ele=driver.find_element_by_xpath('//input[@rel="custom:1016"]')
search_ele.send_keys("Data science")

srch_button=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
srch_button.click()

before_Xpath = "//*[@id='tabP-1']/div["
after_Xpath = "]"

rows = len(driver.find_elements_by_xpath('//*[@id="tabP-1"]/div'))
print(rows)
Name=[]
Designation=[]
company=[]
location=[]
skill=[]
for row in range(1,(rows + 1)):
    for profile in range(1,3):
        for tab in range(1,3):
            if tab==1:
                try:
                    finalXpath=before_Xpath+str(row)+after_Xpath+str("/div[")+str(profile)+after_Xpath+str("/div[1]/div[1]/p/a[")+str(tab)+after_Xpath
                    name_text=driver.find_element_by_xpath(finalXpath).text
                    Name.append(name_text)
                except:
                    Name.append("-")
                try:
                    finalXpath=before_Xpath+str(row)+after_Xpath+str("/div[")+str(profile)+after_Xpath+str("/div[1]/div[1]/p/span[")+str(tab)+after_Xpath
                    des_text=driver.find_element_by_xpath(finalXpath).text
                    Designation.append(des_text)
                except:
                    Designation.append("-")
            if tab==2:
                try:
                    finalXpath=before_Xpath+str(row)+after_Xpath+str("/div[")+str(profile)+after_Xpath+str("/div[1]/div[1]/p/a[")+str(tab)+after_Xpath
                    com_text=driver.find_element_by_xpath(finalXpath).text
                    company.append(com_text)
                except:
                    company.append("-")
                try:
                    finalXpath=before_Xpath+str(row)+after_Xpath+str("/div[")+str(profile)+after_Xpath+str("/div[1]/div[1]/p/span[")+str(tab)+after_Xpath
                    loc_text=driver.find_element_by_xpath(finalXpath).text
                    location.append(loc_text)
                except:
                    location.append("-")
                try:
                    finalXpath=before_Xpath+str(row)+after_Xpath+str("/div[")+str(profile)+after_Xpath+str("/div[1]/div[")+str(tab)+after_Xpath
                    skill_text=driver.find_element_by_xpath(finalXpath).text
                    skill.append(skill_text)
                except:
                    skill.append("-")
                    
print("length of Name:",len(Name))
print("length of Designation:",len(Designation))
print("length of Company:",len(company))
print("length of Skills they hire for:",len(skill))
print("length of Location:",len(location))   

data={
    "Name":Name,
    "Designation":Designation,
    "Company":company,
    "Skills they hire for":skill,
    "Location":location
}

report=pd.DataFrame(data)
report

25
length of Name: 50
length of Designation: 50
length of Company: 50
length of Skills they hire for: 50
length of Location: 50

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
33,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-

**8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:**

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [43]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

before_Xpath = "//*[@id='table-cell-10943-"
after_Xpath = "']"

Book=[]
Author=[]
Volume=[]
Publisher=[]
Genre=[]
for i in range(0,100):
    for j in range(1,6):
        if j == 1:
            try:
                finalXpath=before_Xpath+str(i)+str("-")+str(j)+after_Xpath
                title=driver.find_element_by_xpath(finalXpath).text
                Book.append(title)
            except:
                Book.append("-")
        if j == 2:
            try:
                finalXpath=before_Xpath+str(i)+str("-")+str(j)+after_Xpath
                author=driver.find_element_by_xpath(finalXpath).text
                Author.append(author)
            except:
                Author.append("-")
        
        if j == 3:
            try:
                finalXpath=before_Xpath+str(i)+str("-")+str(j)+after_Xpath
                volume=driver.find_element_by_xpath(finalXpath).text
                Volume.append(volume)
            except:
                Volume.append("-")
            
        if j == 4:
            try:
                finalXpath=before_Xpath+str(i)+str("-")+str(j)+after_Xpath
                publish=driver.find_element_by_xpath(finalXpath).text
                Publisher.append(publish)
            except:
                Publisher.append("-")
        if j == 5:
            try:
                finalXpath=before_Xpath+str(i)+str("-")+str(j)+after_Xpath
                genre=driver.find_element_by_xpath(finalXpath).text
                Genre.append(genre)
            except:
                Genre.append("-")


print("length of Book Name:",len(Book))
print("length of Author name:",len(Author))
print("length of Volumes sold:",len(Volume))
print("length of Publisher:",len(Publisher))
print("length of Genre:",len(Genre)) 


data={
    "Book Name":Book,
    "Author name":Author,    
    "Volumes sold":Volume,
    "Publisher":Publisher,
    "Genre":Genre
}

report=pd.DataFrame(data)
report

length of Book Name: 100
length of Author name: 100
length of Volumes sold: 100
length of Publisher: 100
length of Genre: 100

,Book Name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

**9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:**

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [51]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

before_Xpath = "//*[@id='main']/div/div[3]/div[3]/div["
after_Xpath = "]"

rows=len(driver.find_elements_by_xpath('//div[@class="lister-item mode-detail"]'))
print(rows)


Name=[]
Year=[]
Genre=[]
Run=[]
Rating=[]
Vote=[]
for i in range(1,(rows + 1)):
    try:
        finalXpath=before_Xpath+str(i)+after_Xpath+str("/div[2]/h3/a")
        name=driver.find_element_by_xpath(finalXpath).text
        Name.append(name)
    except:
        Name.append("-")
    try:
        finalXpath=before_Xpath+str(i)+after_Xpath+str("/div[2]/h3/span[2]")
        year=driver.find_element_by_xpath(finalXpath).text
        Year.append(year)
    except:
        Year.append("-")
    try:        
        finalXpath=before_Xpath+str(i)+after_Xpath+str("/div[2]/p[1]/span[5]")
        genre=driver.find_element_by_xpath(finalXpath).text
        Genre.append(genre)
    except:
        Genre.append("-")
    try:
        finalXpath=before_Xpath+str(i)+after_Xpath+str("/div[2]/p[1]/span[3]")
        run=driver.find_element_by_xpath(finalXpath).text
        Run.append(run)
    except:
        Run.append("-")
    try:
        finalXpath=before_Xpath+str(i)+after_Xpath+str("/div[2]/div[1]/div[1]/span[2]")
        rating=driver.find_element_by_xpath(finalXpath).text
        Rating.append(rating)
    except:
        Rating.append("-")
    try:
        finalXpath=before_Xpath+str(i)+after_Xpath+str("/div[2]/p[4]/span[2]")
        vote=driver.find_element_by_xpath(finalXpath).text
        Vote.append(vote)    
    except:
        Vote.append("-")

print("length of Name:",len(Name))
print("length of Year:",len(Year))
print("length of Genre:",len(Genre))
print("length of Run time:",len(Run))
print("length of Rating:",len(Rating))
print("length of Vote:",len(Vote)) 



data={
    "Name":Name,
    "Year span":Year,
    "Genre":Genre,
    "Run time":Run,
    "Ratings":Rating,
    "Vote":Vote
}


Report=pd.DataFrame(data)
Report

100
length of Name: 100
length of Year: 100
length of Genre: 100
length of Run time: 100
length of Rating: 100
length of Vote: 100

,Name,Year span,Genre,Run time,Ratings,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,850,600"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"887,733"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"886,796"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,807"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"227,216"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,108"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,845"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"172,092"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,799"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"195,458"

**10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:**

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [65]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
url="https://archive.ics.uci.edu/"
driver.get(url)

link_ele=driver.find_element_by_xpath('//html/body/table[2]/tbody/tr/td/span/b/a')
link_ele.click()

rows=len(driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr'))
print("No. of Records:",rows)

before_Xpath = "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["
after_Xpath = "]"

Name=[]
Type=[]
Task=[]
Attribute=[]
Instances=[]
Noattribute=[]
Year=[]
for row in range(2,(rows+1)):
    for col in range(1,8):
        if col == 1:
            try:
                finalXpath=before_Xpath+str(row)+after_Xpath+str("/td[")+str(col)+after_Xpath+str("/table/tbody/tr/td[2]/p/b/a")
                name=driver.find_element_by_xpath(finalXpath).text
                Name.append(name)
            except:
                Name.append("-")
        if col == 2:
            try:
                finalXpath=before_Xpath+str(row)+after_Xpath+str("/td[")+str(col)+after_Xpath
                type=driver.find_element_by_xpath(finalXpath).text
                Type.append(type)
            except:
                Type.append("-")
        if col == 3:
            try:
                finalXpath=before_Xpath+str(row)+after_Xpath+str("/td[")+str(col)+after_Xpath
                task=driver.find_element_by_xpath(finalXpath).text
                Task.append(task)
            except:
                Task.append("-")
        if col == 4:
            try:
                finalXpath=before_Xpath+str(row)+after_Xpath+str("/td[")+str(col)+after_Xpath
                attri=driver.find_element_by_xpath(finalXpath).text
                Attribute.append(attri)
            except:
                Attribute.append("-")
        if col == 5:
            try:
                finalXpath=before_Xpath+str(row)+after_Xpath+str("/td[")+str(col)+after_Xpath
                ins=driver.find_element_by_xpath(finalXpath).text
                Instances.append(ins)
            except:
                Instances.append("-")
        if col == 6:
            try:
                finalXpath=before_Xpath+str(row)+after_Xpath+str("/td[")+str(col)+after_Xpath
                nattri=driver.find_element_by_xpath(finalXpath).text
                Noattribute.append(nattri)
            except:
                Noattribute.append(nattri)
        if col == 7:
            try:
                finalXpath=before_Xpath+str(row)+after_Xpath+str("/td[")+str(col)+after_Xpath
                year=driver.find_element_by_xpath(finalXpath).text
                Year.append(year)   
            except:
                Year.append("-")

print("length of Dataset name:",len(Name))
print("length of Data type:",len(Type))
print("length of Task:",len(Task))
print("length of Attribute type:",len(Attribute))
print("length of No of instances:",len(Instances))
print("length of No of attribute:",len(Noattribute)) 
print("length of Year:",len(Year))

data={
    "Dataset name":Name,
    "Data type":Type,
    "Task":Task,
    "Attribute type":Attribute,
    "No of instances":Instances,
    "No of attribute":Noattribute,
    "Year":Year    
}
           
report=pd.DataFrame(data)   
report

No. of Records: 589
length of Dataset name: 588
length of Data type: 588
length of Task: 588
length of Attribute type: 588
length of No of instances: 588
length of No of attribute: 588
length of Year: 588

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021